@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

:root {
  --light: #c6e0e9;
  --dark: #032631;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.static-container {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dynamic-container {
  width: 96vw;
  max-width: 1800px;
  height: 90vh;
  border-radius: 25px;
  padding: 0 50px 25px 50px;
  overflow-y: auto;
}
.dynamic-light {
  color: var(--dark);
  background-color: var(--light);
}
.dynamic-dark {
  color: var(--light);
  background-color: var(--dark);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.header-left {
  display: flex;
}
.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-name {
  font-size: 3.5rem;
}
.header-title {
  font-size: 1.7rem;
}
.header-right {
  width: 250px;
  font-size: 1.5rem;
  padding: 30px 0;
  border: 2px solid;
  border-radius: 10px;
}
.header-right-light {
  color: var(--light);
  background-color: var(--dark);
  border-color: var(--light);
}
.header-right-dark {
  color: var(--dark);
  background-color: var(--light);
  border-color: var(--dark);
}
.sec-logo {
  margin-right: 50px;
}

.seperator {
  height: 10px;
  border-radius: 10px;
}
.sep-dark {
  background-color: var(--light);
}
.sep-light {
  background-color: var(--dark);
}

.banner {
  margin: 25px 0;
  padding: 20px;
  background-color: black;
  color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.update {
  font-size: 2.2rem;
  text-align: center;
}

.skills {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
}
.skill {
  margin-left: 25px;
}
.sec {
  margin-left: 40px;
}
.vert-rule-dark {
  width: 5px;
  background-color: var(--light);
}
.vert-rule-light {
  width: 5px;
  background-color: var(--dark);
}
li {
  margin: 20px 0;
}

@media screen and (max-width: 675px) {
  .dynamic-container {
    height: 97%;
    width: 95%;
    padding: 0 10px;
  }
  .header {
    flex-direction: column;
    margin: 0;
  }
  .header-left {
    display: flex;
    flex-direction: column;
  }
  .header-info {
    order: -1;
    margin-top: 50px;
  }
  .header-right {
    margin: 20px 0;
    width: 100%;
    padding: 20px 0;
  }
  .sec-logo {
    margin: 50px auto;
    width: 200px;
  }

  .update {
    font-size: 1.3rem;
    text-align: center;
  }

  .skills {
    flex-direction: column;
    margin-bottom: 150px;
  }
  .vert-rule {
    width: 100%;
    height: 5px;
    margin: 20px 0;
  }
  .skill {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 676px) and (max-width: 1000px) {
  .sec-logo {
    width: 100px;
  }
  .header-name {
    font-size: 2rem;
  }
  .header-title {
    font-size: 1rem;
  }
  .header-right {
    font-size: 1.2rem;
    padding: 20px 0;
    width: 200px;
  }
  .update {
    font-size: 1.6rem;
  }
  .sec {
    margin: 0;
  }

  .skills {
    font-size: 1rem;
  }
}

@media (hover: hover) {
  .header-right:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
